@mixin reset {
  h1, h2, h3, h4, h5, h6,
  div, span, p,
  ol, ul, li,
  dl, dt, dd,
  table, tr, th, td,
  header, footer, nav,
  main, aside,
  section, article,
  figure, figcaption {
    margin: 0;
    padding: 0;
  }

  body, h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
  }

  ol, ul {
    list-style: none;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  th, td {
    padding: 0;
  }

  img {
    vertical-align: top;
  }

  button {
    border: 0;
    padding: 0;
    background: transparent;
  }
}
