$break-point: 768px !default;

@mixin for-pc($bp: $break-point) {
  @media only screen and (min-width: ($bp + 1)) {
    @content;
  }
}

@mixin for-smartphone($bp: $break-point) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}
