$font-meiryo      : 'Meiryo';
$font-hira-gothic : 'Hiragino Kaku Gothic ProN';
$font-yu-gothic   : '游ゴシック','YuGothic','Yu Gothic';
$font-hira-mincho : 'Hiragino Mincho ProN';
$font-yu-mincho   : '游明朝','YuMincho','Yu Mincho';

// メイリオ優先のゴシック
@mixin font-simple {
  font-family: $font-meiryo, sans-serif;
}

// ヒラギノ・メイリオ優先のゴシック
@mixin font-gothic {
  font-family:
    $font-hira-gothic,
    $font-meiryo,
    sans-serif;
}

// 游ゴシック・ヒラギノ・メイリオ優先のゴシック
@mixin font-yu-gothic {
  font-family:
    $font-yu-gothic,
    $font-hira-gothic,
    $font-meiryo,
    sans-serif;
}

// ヒラギノ優先の明朝
@mixin font-mincho {
  font-family:
    $font-hira-mincho,
    serif,
    sans-serif;
}

// 游明朝・ヒラギノ優先の明朝
@mixin font-yu-mincho {
  font-family:
    $font-yu-mincho,
    $font-hira-mincho,
    serif,
    sans-serif;
}

// 確実な等幅
@mixin font-monospace {
  font-family:
  'MS Gothic',
  'Osaka-Mono',
  monospace,
  sans-serif;
}

// web font
@mixin font-face($name, $file: $name) {
  @font-face {
    font-family: '#{$name}';
    src: url("#{$file}.eot");
    src: url("#{$file}.woff") format('woff'), url("#{$file}.ttf") format('truetype');
  }
}
