@mixin variable-font-size($min, $max, $base, $over) {
  $last: ($base / $min) * $max;
  $tmp: $max;

  @media only screen and (min-width: $max + 1) {
    font-size: $over;
  }

  @for $size from $last through $base {
    $next: floor($tmp * $size / ($size + 1));
    @if ($size == $base) {
      @media only screen and (max-width: $tmp) {
        font-size: $size;
      }
    } @else {
      @media only screen and (max-width: $tmp) and (min-width: $next) {
        font-size: $size;
      }
    }
    $tmp: $next;
  }
}
